# Copy to forge_auth.sh, replace with your own data and execute
# in your terminal like "source forge_auth.sh" before running the scripts.
# Check with "echo $NODE_ENV" that your variables got exported.
# Make sure you don't publish your credentials!

# DEVELOPMENT SETUP
export FORGE_DEV_CLIENT_ID='REPLACE_ME'
export FORGE_DEV_CLIENT_SECRET='REPLACE_ME'
export NODE_ENV=development
export PORT=3000

# PRODUCTION SETUP
# export FORGE_CLIENT_ID='REPLACE_ME'
# export FORGE_CLIENT_SECRET='REPLACE_ME'
# export NODE_ENV=production
# export PORT=3001